tqdm
scipy
numpy
Keras==2.3.1
tensorflow-gpu==1.14.0
absl-py
astor
gast
google-pasta
grpcio
h5py
importlib-metadata
Keras-Applications
Keras-Preprocessing
Markdown
protobuf
six
tensorboard
tensorflow-estimator
termcolor
Werkzeug
wrapt
zipp
sentencepiece
